.scroll_ul{
  width: 500px;
  height: 300px;
  overflow: scroll;
  position: relative;
  margin: 20px 0;
  border: 2px #c3c3c3 dashed;

  .li-card {
    display: flex;
    justify-content: center;
    list-style: none;
    box-shadow: 2px 2px 9px 0px #bbb;
    padding: 70px 0;
    margin-bottom: 20px;
    border-radius: 10px;
    position: absolute;
    width: 80%;
  }

}