
@import "styles/public.scss";

.todo_list_containter{
  max-width: 900px;
  .tl_input{
    display: flex;
    justify-content: space-between;
  }
  .add_ipt{
    width: 280px;
    margin-right: 20px;
  }
  .ant-list{
    max-width: 900px;
    margin-top: 20px;
  }

  .ant-list-item{
     @extend %flex_between;
  }
}

.operate{
  display: flex;
  align-items: center;
  .operate_edit{
    color: #4173FF;
    cursor: pointer;
    flex-shrink: 0;
    &:hover{
      color: #235AF2;
    }
  }

  .operate_line{
    padding: 0 16px;
    color: #D4D7DE;
  }

  .operate_delete{
    color: rgb(241, 98, 114);
    cursor: pointer;
    &:hover{
      color: red;
    }
  }
}