@import "animate.scss";

$red: #F75A5A;
$red-light: #FDE5E5;
$blue: #4173FF;
$blue-lite: #D8E7F9;
$blue-dark: #235AF2;
$gray: #B5BDC6;
$gray-bg: #f0f1f3;
$img-path: '';

// icon-v3
%iconPlV3 {
  background: url(#{$img-path}/images/iconV3_1/icon-pl-v3.png) no-repeat;
  background-size: 707px 272px;
}
%iconGmV3 {
  background: url(#{$img-path}/images/iconV3_1/icon-gm-v3.png) no-repeat;
  background-size: 705px 239px;
}

%verticalCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%textHide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex_between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin fontSize($f, $w) {
  font-family: "PingFang SC";
  font-size: $f+px;
  font-weight: $w;
}

@mixin widthHight($w, $h) {
  width: $w+px;
  height: $h+px;
}

//文字几行超出省略
@mixin multiTextHide($num) {
  display: -webkit-box;
  display: -moz-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: $num;
  -moz-line-clamp: $num;
  overflow: hidden;
  text-overflow: ellipsis;
}

