
//逗号分隔列表
.span::before{
  content: '【';
}
.span::after{
  content: '】';
}

.span_map:not(:last-child)::after{
  content: ',';
}

.slider{
  max-height: 20px;
  overflow: hidden;
  width: 100px;
  cursor: pointer;
}

.slider:hover{
  max-height: 60px;
  overflow-y: scroll;
}

a[href^="http"]:empty::before {
  content: attr(href);
}
a[href]:not([class]) {
  color: #008000;
  text-decoration: underline;
}

.intro > * {
  margin-bottom: 1.25rem;
}

.test_container{
  color: red;
}

.button_right>*{
  margin-right: 20px;
  margin-bottom: 20px;
}
