stylesbody {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  font-family: "PingFang SC";
  font-size: 14px;
  font-weight: 400;
  color: #272E42;
  height: 100%;
}

//antd修改的css代码
.ant-btn{
  line-height: normal !important;
}

.scope_wrapper{
  position: relative;
  padding: 24px 36px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
